h1 {
    text-align: center;
    font-weight: normal;
}

.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.create-button {
    background-color: #e0e2ec;
}

.mat-elevation-z8 {
    border-radius: 0.25rem;
    overflow: hidden;
}

.component-container {
    padding: 1rem;
}
