<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="pc-galaxy-logo.png" alt="PC Galaxy logo" />

    <span class="spacer"></span>

    <button mat-icon-button routerLink="/orders-history">
      <mat-icon>history</mat-icon>
    </button>

    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="signedIn"
      class="user-info"
      matTooltip="{{ currentUser?.firstName }}"
      matTooltipPosition="above"
    >
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-button *ngIf="!signedIn" routerLink="/register">
      Register
    </button>
    <button mat-button *ngIf="!signedIn" routerLink="/login">Login</button>
    <button mat-button *ngIf="signedIn" (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a *ngIf="isAdmin" mat-list-item routerLink="admin/products"
          >Products</a
        >
        <a mat-list-item routerLink="/category/motherboards">Motherboards</a>
        <a mat-list-item routerLink="/category/cpus">CPUs</a>
        <a mat-list-item routerLink="/category/gpus">GPUs</a>
        <a mat-list-item routerLink="/category/ram">RAM</a>
        <a mat-list-item routerLink="/category/storages">Storages</a>
        <a mat-list-item routerLink="/category/power-supplies">Power Supplies</a>
        <a mat-list-item routerLink="/category/pc-cases">PC Cases</a>
        <a mat-list-item routerLink="/category/coolers">Coolers</a>
        <a mat-list-item routerLink="/category/fans">Fans</a>
        <a mat-list-item routerLink="/category/monitors">Monitors</a>
        <a mat-list-item routerLink="/category/keyboards">Keyboards</a>
        <a mat-list-item routerLink="/category/mice">Mice</a>
        <a mat-list-item routerLink="/category/mouse-pads">Mouse Pads</a>
        <a mat-list-item routerLink="/category/headsets">Headsets</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
