<h1 mat-dialog-title>Edit Product</h1>
<div mat-dialog-content>
  <form #productForm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="name" required />
      <mat-error *ngIf="productForm.controls['name']?.invalid && productForm.controls['name']?.touched">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description" name="description" required></textarea>
      <mat-error *ngIf="productForm.controls['description']?.invalid && productForm.controls['description']?.touched">
        Description is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Specifications</mat-label>
      <textarea matInput [(ngModel)]="specifications" name="specifications" required></textarea>
      <mat-error
        *ngIf="productForm.controls['specifications']?.invalid && productForm.controls['specifications']?.touched">
        Specifications is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" step="0.01" min="0" [(ngModel)]="price" name="price" required />
      <mat-error *ngIf="productForm.controls['price']?.invalid && productForm.controls['price']?.touched">
        Price is required and must be non-negative.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="stock" name="stock" required />
      <mat-error *ngIf="productForm.controls['stock']?.invalid && productForm.controls['stock']?.touched">
        Stock is required and must be non-negative.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Supplier</mat-label>
      <input matInput [(ngModel)]="supplier" name="supplier" required />
      <mat-error *ngIf="productForm.controls['supplier']?.invalid && productForm.controls['supplier']?.touched">
        Supplier is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Delivery Method</mat-label>
      <input matInput [(ngModel)]="deliveryMethod" name="deliveryMethod" required />
      <mat-error
        *ngIf="productForm.controls['deliveryMethod']?.invalid && productForm.controls['deliveryMethod']?.touched">
        Delivery Method is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="category" name="category" required>
        <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="productForm.controls['category']?.invalid && productForm.controls['category']?.touched">
        Category is required
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="isNameWhitespace()">
      Name cannot be whitespace
    </mat-error>
    <mat-error *ngIf="isDescriptionWhitespace()">
      Description cannot be whitespace
    </mat-error>
    <mat-error *ngIf="isSpecificationsWhitespace()">
      Specifications cannot be whitespace
    </mat-error>
    <mat-error *ngIf="isSupplierWhitespace()">
      Supplier cannot be whitespace
    </mat-error>
    <mat-error *ngIf="isDeliveryMethodWhitespace()">
      Delivery Method cannot be whitespace
    </mat-error>
    <mat-error *ngIf="isNameTooLong()">
      Name cannot exceed 256 characters
    </mat-error>
    <mat-error *ngIf="isDescriptionTooLong()">
      Description cannot exceed 1024 characters
    </mat-error>
    <mat-error *ngIf="isSpecificationsTooLong()">
      Specifications cannot exceed 1024 characters
    </mat-error>
    <mat-error *ngIf="isSupplierTooLong()">
      Supplier cannot exceed 256 characters
    </mat-error>
    <mat-error *ngIf="isDeliveryMethodTooLong()">
      Delivery Method cannot exceed 256 characters
    </mat-error>
    <mat-error *ngIf="isPriceTooLarge()">
      Price cannot exceed 1000000
    </mat-error>
    <mat-error *ngIf="isStockTooLarge()">
      Stock cannot exceed 1000000
    </mat-error>
    <mat-error *ngIf="!isStockInteger()">
      Stock must be an integer
    </mat-error>
  </form>
</div>
<div mat-dialog-actions class="center-buttons">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="productForm.invalid || 
  isNameWhitespace() || 
  isDescriptionWhitespace() ||
  isSpecificationsWhitespace() ||
  isSupplierWhitespace() ||
  isDeliveryMethodWhitespace() ||
  isNameTooLong() ||
  isDescriptionTooLong() ||
  isSpecificationsTooLong() ||
  isSupplierTooLong() ||
  isDeliveryMethodTooLong() ||
  isPriceTooLarge() ||
  isStockTooLarge() ||
  !isStockInteger()" (click)="onSave()">Save</button>
</div>